* {
    font-family: "Noto Sans TC", sans-serif;
  }
  
html, body {
width: 100%;
height: 100%;
margin: 0;
}

body {
padding: 100px;
box-sizing: border-box;
background-color: #292B73;
justify-content: center;
align-items: center;
display: flex;
}

.panels {
display: flex;
width: 100%;
}

.panel {
flex: 5;
padding: 30px;
background-color: #fff;
color: #292B73;
box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
border-radius: 5px;
position: relative;
z-index: 1;
}
.panel.yellow {
flex: 4;
background-color: #FFB637;
}

h1, h3 {
margin: 0;
text-align: center;
}

h1 {
font-weight: 700;
margin-bottom: 30px;
}

h3 {
font-weight: 400;
}

textarea {
width: 100%;
padding: 10px;
box-sizing: border-box;
font-size: 20px;
letter-spacing: 1px;
outline: none;
border: solid 2px rgba(0, 0, 0, 0.3);
}
textarea:focus {
border-color: #292B73;
}

.buttons {
display: flex;
justify-content: center;
align-items: center;
}

button {
padding: 10px 20px;
border-radius: 0px;
margin: 6px;
font-size: 10pz;
font-weight: 400;
letter-spacing: 3px;
border: none;
}
button.yellow {
background-color: #FFB637;
}
button.purple {
background-color: #292B73;
color: white;
}
button.white {
border: solid 2px #292B73;
}

.symbol {
font-size: 34px;
text-align: center;
font-weight: 9000;
}

hr {
border: none;
border-bottom: 3px solid #292B73;
}

.translist {
display: flex;
flex-direction: column;
height: 450px;
flex-wrap: wrap;
}
.translist li {
margin-bottom: 5px;
font-size: 18px;
width: 30%;
}

.decoration {
font-size: 500px;
color: white;
position: absolute;
font-weight: 900;
left: -50px;
top: -50px;
opacity: 0.1;
transform: rotate(-45deg);
}

.playlist {
font-size: 20px;
text-align: center;
height: 20px;
}
.playlist .playing {
color: #FFB637;
}